:root {
    background-color: black;
    color: white;
    margin: 0;
}

.post {
    border: 1px white solid;
    width: 30%;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
}

ul {
    padding: 20px;
    box-sizing: border-box;
    border: 1px white solid;
}